<meta name="viewport" content="width=device-width, user-scalable=yes">

<ion-header>
    <ion-toolbar color="mango">

        <ion-buttons slot="start">
            <ion-button (click)="salir()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>{{ periodo }}</ion-title>

        <ion-buttons slot="end">
            <ion-button (click)="prepararEmail()">
                <ion-icon slot="icon-only" name="mail"></ion-icon>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-content style="padding-top: 5px; text-align: justify;" *ngIf=" enviarCorreo ">
            <h1 class="ion-text-center">Datos del envío</h1>
            <ion-list lines="none">
                <ion-item>
                    <ion-label position="floating">Enviar e-mail a...</ion-label>
                    <ion-input autocomplete="off" type="mail" value="email" [(ngModel)]="email"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Agregar copia a...</ion-label>
                    <ion-input autocomplete="off" type="mail" value="copia" [(ngModel)]="copia"></ion-input>
                </ion-item>
            </ion-list>

            <ion-progress-bar *ngIf=" enviando " type="indeterminate"></ion-progress-bar>

            <ion-row style="font-size: 70%;margin-top: 10px;">
                <ion-col size="12">
                    <ion-button (click)="sendEmail()" color="mango" expand="block" size="small">Enviar este documento vía email</ion-button>
                </ion-col>
            </ion-row>

        </ion-card-content>
    </ion-card>


    <div>

        <pdf-viewer src="{{ pdfEnServer }}" [show-borders]="true" show-all="true" [zoom]="pdfZoom" [fit-to-page]="true" [render-text]="true"></pdf-viewer>

        <ion-fab vertical="bottom" horizontal="start" slot="fixed">
            <ion-fab-button color="mango">
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
            <ion-fab-list side="top">
                <ion-fab-button (click)="zoomIn()" color="primary">
                    <ion-icon name="body"> </ion-icon>
                </ion-fab-button>
                <ion-fab-button (click)="zoomOut()" color="primary">
                    <ion-icon name="man"> </ion-icon>
                </ion-fab-button>
                <ion-fab-button (click)="resetZoom()" color="primary">
                    <ion-icon name="expand"> </ion-icon>
                </ion-fab-button>
            </ion-fab-list>
        </ion-fab>

    </div>

</ion-content>