<ion-header>
    <ion-toolbar color="mango">
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title>Mi mensajería</ion-title>
        <ion-buttons style="margin-right: 10px;" slot="end" (click)="leerMisMensajes()">
            <ion-icon size="large" name="refresh"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-progress-bar *ngIf=" cargando " type="indeterminate"></ion-progress-bar>

<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Tire para refrescar" refreshingSpinner="circles" refreshingText="Refrescando...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-card *ngFor="let mensaje of mensajes">

        <ion-card-header>
            <ion-card-subtitle *ngIf=" mensaje.cerrado  " color="danger">Cerrado el día {{ mensaje.fechacierre | date }}</ion-card-subtitle>
            <ion-card-subtitle *ngIf=" !mensaje.cerrado " color="primary">Aun abierto</ion-card-subtitle>
            <ion-card-title>{{ mensaje.tipo }}</ion-card-title>
        </ion-card-header>

        <ion-card-content class="ion-no-padding">
            <ion-list lines="none">
                <ion-item>
                    <ion-icon name="ios-mail" slot="start"></ion-icon>
                    <ion-label>{{ mensaje.cto }}</ion-label>
                </ion-item>
                <ion-item *ngIf=" mensaje.ccc !== '' ">
                    <ion-icon name="ios-mail-unread" slot="start"></ion-icon>
                    <ion-label>{{ mensaje.ccc }}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon name="ios-text" slot="start"></ion-icon>
                    <ion-label class="ion-text-wrap">{{ mensaje.dato }}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon name="calendar" slot="start"></ion-icon>
                    <ion-label>Solicitud : {{ mensaje.fecha | date }}</ion-label>
                </ion-item>

                <ion-row *ngIf=" !mensaje.cerrado ">
                    <ion-col offset="6" size="6">
                        <ion-button color="mango" fill="solid" expand="block" size="small" (click)="cerrar( mensaje.id )">Cerrar mensaje</ion-button>
                    </ion-col>
                </ion-row>

            </ion-list>

        </ion-card-content>

    </ion-card>

</ion-content>