<ion-header>
  <ion-toolbar color="mango">
      <ion-buttons slot="start">
        <ion-button (click)="menuToggle()"><ion-icon slot="icon-only" name="menu"></ion-icon></ion-button>
      </ion-buttons>    
    <ion-title class="ion-text-center">Inicio</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="add_to_home($event)"><ion-icon slot="icon-only" name="menu" *ngIf=" showInstaller "  ></ion-icon></ion-button>
    </ion-buttons>    


  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card class="welcome-card">
      <img src="assets/rrhh1.jpg" alt="" />
      <!-- <ion-img src="assets/login.png"></ion-img> -->
      <ion-card-header>
        <ion-card-title>Bienvenido a miPortal</ion-card-title>
      </ion-card-header>
      <ion-card-content style="padding-top: 5px; text-align: justify;">
        <p >Esta aplicación te ayudará a simplificar la comunicación con el departamento de Recursos Humanos (RRHH) de tu empresa.</p>
        <p>Entregándote herramientas de información y ágil comunicación con tus compañeros, acelerando de esta forma trámites y evitando reuniones y pérdidas de tiempo innecesariasde a cualquier hora del día laboral o festivo.</p>
      </ion-card-content>
    </ion-card>  

</ion-content>
